@using System.Security.Claims
@using SWP391.OnlineShop.Common.Constraints
@{
    var role = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
    var id = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
}

<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" asp-action="Index" asp-controller="Home"><img src="~/template/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a asp-action="Index" asp-controller="Product" class="nav-link">Shop</a></li>
                                <li class="nav-item"><a asp-action="Index" asp-controller="Cart" class="nav-link">Shopping Cart</a></li>
                                
                                @if (User.Identity is { IsAuthenticated: true })
                                {
                                    <li class="nav-item"><a asp-action="MyOrders" asp-controller="Cart" class="nav-link">My Orders</a></li>
                                    <li class="nav-item"><a asp-action="ReceiveVoucher" asp-controller="Voucher" class="nav-link">Receive Voucher</a></li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a asp-action="Index" asp-controller="Post" class="nav-link">Blog</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Users</a>
                            <ul class="dropdown-menu">
                                @if (User.Identity is { IsAuthenticated: true })
                                {
                                    <li class="nav-item"><a asp-action="Index" asp-controller="Profile" asp-route-userId="@id" class="nav-link">User Profile</a></li>
                                    <li class="nav-item"><a asp-action="Logout" asp-controller="Account" class="nav-link">Logout</a></li>
                                    @*<li class="nav-item"><a asp-action="Tracking" asp-controller="Product" class="nav-link">Tracking</a></li>*@

                                    @if (role == RoleConstraints.Admin)
                                    {
                                        @*<li class="nav-item"><a asp-action="Index" asp-controller="Element" class="nav-link">Elements</a></li>*@
                                    }
                                }
                                else
                                {
                                    <li class="nav-item"><a asp-action="Login" asp-controller="Account" class="nav-link">Login</a></li>
                                    <li class="nav-item"><a asp-action="Register" asp-controller="Account" class="nav-link">Register</a></li>
                                }
                            </ul>
                        </li>
                        @if (role == RoleConstraints.Admin)
                        {
                            <li class="nav-item"><a asp-action="Index" asp-controller="Dashboard" asp-area="Managements" class="nav-link">Managements</a></li>
                        }
                        <li class="nav-item"><a asp-action="Contact" asp-controller="Home" class="nav-link">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>*@
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>
<!-- End Header Area -->