@{
    ViewBag.Title = "Dashboard";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <!--stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/template/admin/adminjs/admin-custom.css" rel="stylesheet">
    <link href="~/template/admin/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        @*Side bar*@
        <partial name="AdminPartial/_AdminSidebarPartial" />

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                @*Top bar*@
                <partial name="AdminPartial/_AdminHeaderPartial" />

                @*Body*@
                @RenderBody()
            </div>

            @*Footer*@
            <partial name="AdminPartial/_AdminFooterPartial" />
        </div>
    </div>

    @*Scroll Button*@
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @*Model Popup*@
    <partial name="AdminPartial/_AdminModalPartial" />

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/download/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/admin/urljs/url-helper.js"></script>
    <script src="https://kit.fontawesome.com/c41956cca0.js" crossorigin="anonymous"></script>
    <script src="~/template/admin/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/template/admin/adminjs/common-admin.js"></script>
    <script src="~/template/admin/chart.js/Chart.min.js"></script>
    <script src="~/template/admin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/template/admin/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/template/admin/adminjs/charts/chart-area-demo.js"></script>
    <script src="~/template/admin/adminjs/charts/chart-bar-demo.js"></script>
    <script src="~/template/admin/adminjs/charts/chart-pie-demo.js"></script>
    <script src="~/template/admin/adminjs/charts/datatables-demo.js"></script>
</body>

</html>