<section class="checkout_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<section class="cart_area">
					<div class="container">
						<div class="cart_inner">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Product</th>
											<th scope="col">Price</th>
											<th scope="col">Quantity</th>
											<th scope="col">Category</th>
											<th scope="col">Total</th>
											<th scope="col">Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="media">
													<div class="d-flex">
														<img src="img/cart.jpg" alt="">
													</div>
													<div class="media-body">
														<p>Minimalistic shop for multipurpose use</p>
													</div>
												</div>
											</td>
											<td>
												<h5>$360.00</h5>
											</td>
											<td>
												<div class="product_count">
													<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" disabled
														   class="input-text qty">
												</div>
											</td>
											<td>Category</td>
											<td>
												<h5>$720.00</h5>
											</td>
											<td>Status</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="col-lg-4">
				<div class="order_box" style="padding-top: 100px;padding-bottom: 100px;">
					<h2>Your Order</h2>
					<ul class="list">
						<li><a href="#">Product <span>Total</span></a></li>
						<li><a href="#">Fresh Blackberry <span class="middle">x 02</span> <span class="last">$720.00</span></a></li>
						<li><a href="#">Fresh Tomatoes <span class="middle">x 02</span> <span class="last">$720.00</span></a></li>
						<li><a href="#">Fresh Brocoli <span class="middle">x 02</span> <span class="last">$720.00</span></a></li>
					</ul>
					<ul class="list list_2">
						<li><a href="#">Subtotal <span>$2160.00</span></a></li>
						<li><a href="#">Shipping <span>Flat rate: $50.00</span></a></li>
						<li><a href="#">Total <span>$2210.00</span></a></li>
					</ul>
					<div class="payment_item">
					
					</div>
					<div class="payment_item active">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>