@using System.Security.Claims;
@using SWP391.OnlineShop.Common.Constraints;
@model SWP391.OnlineShop.ServiceModel.ViewModels.Profiles.ProfileViewModels
@{
    ViewBag.Title = "Profile";
    var homeUrl = Url.Action("Index", "Home");
    var managementUrl = Url.Action("Index", "Dashboard", new { area = "Managements" });
    var userRoles = User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Role)?.Value;
}
<div class="profile-container">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills tab-header" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="tab-header-items" data-bs-toggle="pill" type="button" onclick="location.href = '@homeUrl'">
                <div class="header-item-content">
                    <i class="fa-solid fa-store"></i>
                    <span>Back to Shop</span>
                </div>
            </button>
            <button class="tab-header-items active" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button">
                <div class="header-item-content">
                    <i class="fas fa-user-secret"></i>
                    <span>General</span>
                </div>
            </button>
            <button class="tab-header-items" data-bs-toggle="pill" data-bs-target="#v-pills-security" type="button" id="tab-security">
                <div class="header-item-content">
                    <i class="fas fa-key"></i>
                    <span>Security</span>
                </div>
            </button>
            <button class="tab-header-items" data-bs-toggle="pill" data-bs-target="#v-pills-address" type="button" id="tab-address">
                <div class="header-item-content">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <span>Addresses</span>
                </div>
            </button>
            <button class="tab-header-items" data-bs-toggle="pill" data-bs-target="#v-pills-badges" type="button">
                <div class="header-item-content">
                    <i class="fa-solid fa-gift"></i>
                    <span>Vouchers</span>
                </div>
            </button>
            @*
            <button class="tab-header-items" data-bs-toggle="pill" data-bs-target="#v-pills-order" type="button" id="tab-order">
            <div class="header-item-content">
            <i class="fa-solid fa-cart-arrow-down"></i>
            <span>Orders</span>
            </div>
            </button>
            *@
            <button class="tab-header-items" data-bs-toggle="pill" data-bs-target="#v-pills-request" type="button" id="tab-request">
                <div class="header-item-content">
                    <i class="fa-regular fa-handshake"></i>
                    <span>Collaboration</span>
                </div>
            </button>
            @if (!string.IsNullOrEmpty(userRoles) && userRoles.Contains(RoleConstraints.Admin))
            {
                <button class="tab-header-items" data-bs-toggle="pill" type="button" onclick="location.href = '@managementUrl'">
                    <div class="header-item-content">
                        <i class="fa-solid fa-gear"></i>
                        <span>Managements</span>
                    </div>
                </button>
            }
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            @*tab profile*@
            <partial name="ProfilePartial/_GeneralPartial" for="GeneralViewModel" />
            @*tab security*@
            <partial name="ProfilePartial/_SecurityPartial" for="SecurityViewModel" />
            @*tab addresses*@
            <partial name="ProfilePartial/_AddressPartial" for="AddressViewModel" />
            @*tab vouchers*@
            <partial name="ProfilePartial/_VoucherPartial" for="VoucherViewModels" />
            @*tab orders*@
            <partial name="ProfilePartial/_OrderPartial" />
            @*tab requests*@
            <partial name="ProfilePartial/_RequestPartial" for="RequestViewModel" />
        </div>
    </div>
</div>




