@model SWP391.OnlineShop.ServiceModel.ViewModels.Products.PostViewModel
@{
    Layout = "_Layout";
    var genreList = ViewData["GenreList"] as SelectList;
}

<div class="m-headers" style="margin-top: 10% !important;">
    <h4 class="fw-bold ml-5">Manage Post</h4>
    <a asp-controller="Marketing" asp-action="EditPost" asp-route-id="@Model.Id" class="m-2">
        <button class="btn btn-success">
            <span>Edit</span>
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
    </a>
    <a asp-controller="Marketing" asp-action="DeletePost" asp-route-id="@Model.Id" class="m-2">
        <button class="btn btn-danger">
            <span>Delete</span>
            <i class="fa-regular fa-trash-can"></i>
        </button>
    </a>
</div>

<!-- DataTales Example -->
<div class="card shadow m-3">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">View Detail Post</h6>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Post Title</label>
            <input disabled type="text" class="form-control" asp-for="Title" id="name" onchange="changeUrl('name', 'url')">
            <span asp-validation-for="Title" class="r-error d-block text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Thumbnail" class="form-label">Thumbnail</label>
            <input disabled asp-for="Thumbnail" type="text" class="form-control">
            <span asp-validation-for="Thumbnail" class="r-error d-block text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea disabled asp-for="Description" type="text" class="form-control"></textarea>
            <span asp-validation-for="Description" class="r-error d-block text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Brief" class="form-label"></label>
            <input disabled asp-for="Brief" type="text" class="form-control" />
            <span asp-validation-for="Brief" class="r-error d-block text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Featured" class="form-label"></label>
            <input disabled asp-for="Featured" type="text" class="form-control" />
            <span asp-validation-for="Featured" class="r-error d-block text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Author" class="form-label"></label>
            <input disabled asp-for="Author" type="text" class="form-control" />
            <span asp-validation-for="Author" class="r-error d-block text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Category</label><br />
            <select asp-for="CategoryId" class="form-control" asp-items="@genreList"></select>
        </div><br /><br />
        <a type="button" class="btn btn-secondary" asp-action="">Back</a>
    </div>
</div>