<div class="tab-pane fade tab-content-item tab-content-secu" id="v-pills-request">
    <div class="secu-title">
        <span>Request to become Collaborators</span>
        <p>
            For your requests, we highly recommend that you choose a default address that support you suitable while order other product.
            Please careful while manage your addresses page. Your information will be private by of
            <a href="https://www.termsfeed.com/live/e3c51e1f-dd04-4568-ba9d-617bca9d4c5d" title="">Terms of Service</a>
        </p>
    </div>
    <div class="request-container">
        <div class="request-header">
            <div class="request-h-head">
                Request Table
            </div>
            <div class="request-h-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Request Name</th>
                            <th scope="col">Request Type</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>Thornton</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="request-body">
            <div class="request-to-sale-manager">
                <div>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#saleCollapse" aria-expanded="false" aria-controls="collapseExample">
                        Sale/Sale Manager
                    </button>
                </div>
                <div class="collapse" id="saleCollapse">
                    <div class="request-b-head">
                        Request to become Sale Manager
                    </div>
                    <div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="request-to-marketing">
                <div>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#marketingCollapse" aria-expanded="false" aria-controls="collapseExample">
                        Marketing/Blogger
                    </button>
                </div>
                <div class="collapse" id="marketingCollapse">
                    <div class="request-b-head">
                        Request to become Marketing - Blogger
                    </div>
                    <div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
