<div class="tab-pane fade tab-content-item tab-content-all tab-content-badges" id="v-pills-badges">
    <div>
        <div>
            <div class="badges-head">Vouchers</div>
            <div class="badges-desc">
                Manage the account vouchers you've earn with Karma Shop while gathering and sharing.
            </div>
        </div>
        <div class="badges-body">
            <div class="row-pricing" style="margin: 0; justify-content: center;">
                <div class="badges-item col-card-3 col-c-sm-3">
                    <div>
                        <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                    </div>
                    <div>Santalune Voucher</div>
                </div>
                <div class="badges-item col-card-3 col-c-sm-3">
                    <div>
                        <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                    </div>
                    <div>Cyllage Voucher</div>
                </div>
                <div class="badges-item col-card-3 col-c-sm-3">
                    <div>
                        <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                    </div>
                    <div>Shalour Voucher</div>
                </div>
                <div class="badges-item col-card-3 col-c-sm-3">
                    <div>
                        <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                    </div>
                    <div>Coumarine Voucher</div>
                </div>
                <div class="badges-item col-card-3 col-c-sm-3">
                    <div>
                        <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                    </div>
                    <div>Lumiose Voucher</div>
                </div>
                <div class="badges-item col-card-3 col-c-sm-3">
                    <div>
                        <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                    </div>
                    <div>Laverre Voucher</div>
                </div>
                <div class="badges-item col-card-3 col-c-sm-3">
                    <div>
                        <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                    </div>
                    <div>Anistar Voucher</div>
                </div>
                <div class="badges-item col-card-3 col-c-sm-3">
                    <div>
                        <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                    </div>
                    <div>Snowbelle Voucher</div>
                </div>
            </div>
        </div>
    </div>
</div>

