@model List<SWP391.OnlineShop.ServiceModel.ViewModels.Vouchers.UserVoucherViewModel>

<div class="tab-pane fade tab-content-item tab-content-all tab-content-badges" id="v-pills-badges">
    <div>
        <div>
            <div class="badges-head">Vouchers</div>
            <div class="badges-desc">
                Manage the account vouchers you've earn with Karma Shop while gathering and sharing.
            </div>
        </div>
        <div class="badges-body">
            <div class="row-pricing" style="margin: 0; justify-content: center;">
                @foreach (var userVoucherViewModel in Model)
                {
                    <div class="badges-item col-card-3 col-c-sm-3">
                        <div>
                            <img src="~/sources/vouchers/voucher.png" width="100" alt="badge" />
                        </div>
                        <div>@userVoucherViewModel.VoucherCode</div>
                        <div>Expired Date: @userVoucherViewModel.EndDateTime.ToString("dd/MM/yyyy")</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

