@model SWP391.OnlineShop.ServiceModel.ViewModels.Products.PostViewModel
@{
    var genreList = ViewData["GenreList"] as SelectList;
    var errorMess = TempData["ErrorMess"] as string;
    var successMess = TempData["SuccessMess"] as string;
}

@if (!string.IsNullOrWhiteSpace(errorMess))
{
    <div class="alert alert-danger my-2 text-center">
        @errorMess
    </div>
}
@if (!string.IsNullOrWhiteSpace(successMess))
{
    <div class="alert alert-success my-2 text-center">
        @successMess
    </div>
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create New Post</h6>
    </div>
    <div class="card-body">
        <form style="margin:auto !important; width:60% !important" asp-area="Managements" asp-controller="Marketing" asp-action="AddPost" method="post" enctype="multipart/form-data">
            <div class="r-error my-4 text-danger text-center" asp-validation-summary="All">
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Post Title</label>
                <input type="text" class="form-control" asp-for="Title">
                <span asp-validation-for="Title" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ThumbnailFile" class="form-label">Thumbnail</label>
                <input asp-for="ThumbnailFile" type="file" class="form-control">
                <span asp-validation-for="ThumbnailFile" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea id="ck-editor" rows="10" cols="80" asp-for="Description" type="text" class="form-control"></textarea>
                <span asp-validation-for="Description" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Brief" class="form-label"></label>
                <input asp-for="Brief" type="text" class="form-control" />
                <span asp-validation-for="Brief" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Featured" class="form-label"></label>
                <input asp-for="Featured" type="text" class="form-control" />
                <span asp-validation-for="Featured" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Author" class="form-label"></label>
                <input asp-for="Author" type="text" class="form-control" />
                <span asp-validation-for="Author" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label">Category</label><br />
                <select asp-for="CategoryId" class="form-control" asp-items="@genreList"></select><br />
            </div><br />
            <div class="mb-3">
                <label asp-for="Tag" class="form-label">Post Tags (separate by ;)</label>
                <input type="text" class="form-control" asp-for="Tag">
                <span asp-validation-for="Tag" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <a type="button" class="btn btn-secondary" asp-action="">Back</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
