@{
    ViewData["Title"] = "Reset Password";
}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Reset Password</h1>
                <p class="mb-4">Please enter new password, we'll help you reset password!</p>
            </div>
            <form class="user" method="post">
                <div class="r-error my-4 text-danger text-center" asp-validation-summary="All">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Enter new password...">
                    <input type="hidden" required="" readonly="" class="d-none form-control" />
                    <input type="hidden" required="" readonly="" class="d-none form-control" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Enter retype password...">
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Reset Password
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" asp-action="Register">Create an Account!</a>
            </div>
        </div>
    </div>
</div>