@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SWP391.OnlineShop.Common.Constraints
@{
    var roles = User.Claims.Where(u => u.Type == ClaimTypes.Role);
    var userRole = string.Join(CommonConstraints.JoinCharacter, roles.Select(x => x.Value));
    var id = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            @*<i class="fas fa-music"></i>*@
            <i class="fa-brands fa-shopify"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Karma <sup>Shop</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="">
            <i class="fa-solid fa-store"></i>
            <span>Back to Shop</span>
        </a>
    </li>

    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-controller="Dashboard" asp-area="Managements">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    @if (!string.IsNullOrEmpty(userRole) &&
    userRole.Contains(RoleConstraints.Admin))
    {
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" onclick="openWindow('Job')" style="cursor: pointer">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <span>Job Schedule</span>
            </a>
        </li>

        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" onclick="openWindow('File')" style="cursor: pointer">
                <i class="fa-regular fa-folder"></i>
                <span>Folder Management</span>
            </a>
        </li>
    }

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Management
    </div>

    <!-- Nav Item - User Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#collapseUser" data-bs-toggle="collapse" data-target="#collapseUser"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-user"></i>
            <span>Accounts</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#collapseUser">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Accounts:</h6>
                <a asp-action="Index" asp-controller="Profile" asp-area="" asp-route-userId="@id" class="collapse-item">Profile</a>

                @if (!string.IsNullOrEmpty(userRole) &&
                userRole.Contains(RoleConstraints.Admin))
                {
                    <a class="collapse-item" asp-area="Managements" asp-action="Index" asp-controller="Request">Requests</a>
                    <a class="collapse-item" asp-area="Managements" asp-action="Index" asp-controller="User">Users</a>
                }

                @if (!string.IsNullOrEmpty(userRole) &&
                userRole.Contains(RoleConstraints.Marketing) &&
                !userRole.Contains(RoleConstraints.Admin))
                {
                    <a class="collapse-item" asp-area="Managements" asp-action="ManageCustomer" asp-controller="Marketing">Customers</a>
                }
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#collapseComponents" data-bs-toggle="collapse" data-target="#collapseComponents"
           aria-expanded="true" aria-controls="collapseComponents">
            <i class="fa-solid fa-sliders"></i>
            <span>Components</span>
        </a>
        <div id="collapseComponents" class="collapse" aria-labelledby="headingTwo" data-parent="#collapseComponents">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>

                @if (!string.IsNullOrEmpty(userRole) && (
                userRole.Contains(RoleConstraints.Admin) ||
                userRole.Contains(RoleConstraints.Sale) ||
                userRole.Contains(RoleConstraints.SaleManager)))
                {
                    <a class="collapse-item" asp-area="Managements" asp-action="Index" asp-controller="Order">Orders</a>
                    <a class="collapse-item" asp-area="Managements" asp-action="Index" asp-controller="Voucher">Vouchers</a>
                    <a class="collapse-item" asp-area="Managements" asp-controller="Marketing" asp-action="Index">Products</a>
                    

                    if (userRole.Contains(RoleConstraints.Admin))
                    {
                        <a class="collapse-item" asp-area="Managements" asp-controller="Marketing" asp-action="ManagePost">Posts</a>
                    }
                }

                @if (!string.IsNullOrEmpty(userRole) &&
                userRole.Contains(RoleConstraints.Marketing) &&
                !userRole.Contains(RoleConstraints.Admin))
                {
                    <a class="collapse-item" asp-area="Managements" asp-controller="Marketing" asp-action="Index">Products</a>
                    <a class="collapse-item" asp-area="Managements" asp-controller="Marketing" asp-action="ManagePost">Posts</a>
                }

                @if (!string.IsNullOrEmpty(userRole) && userRole.Contains(RoleConstraints.Admin))
                {
                    @* <a class="collapse-item" asp-area="Managements" asp-action="ManageTag" asp-controller="Marketing">Tags</a> *@
                    <a class="collapse-item" asp-area="Managements" asp-controller="Marketing" asp-action="ManageSize">Sizes</a>
                    <a class="collapse-item" asp-area="Managements" asp-action="Index" asp-controller="Category">Categories</a>
                    <a class="collapse-item" asp-area="Managements" asp-controller="Marketing" asp-action="ManageFeedback">Comments</a>
                    <a class="collapse-item" asp-area="Managements" asp-action="Index" asp-controller="Contact">Contacts</a>
                    <a class="collapse-item">Other</a>
                }
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#collapseConfig" data-bs-toggle="collapse" data-target="#collapseConfig"
           aria-expanded="true" aria-controls="collapseConfig">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseConfig" class="collapse" aria-labelledby="headingTwo" data-parent="#collapseConfig">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Configurations:</h6>

                @if (!string.IsNullOrEmpty(userRole) && (userRole.Contains(RoleConstraints.Admin) || userRole.Contains(RoleConstraints.Marketing)))
                {
                    <a class="collapse-item" asp-area="Managements" asp-controller="Marketing" asp-action="ManageSlider">Sliders</a>
                }
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

<script>
    function openWindow(type) {
        if (type != undefined) {
            $.ajax({
                type: "GET",
                data: { type: type },
                url: '@Url.Action("ViewTab", "Dashboard", new { Area = "Managements" })',
                success: function(result) {
                    window.open(result.url, "", "width=1100,height=800");
                }
            });
        }
    }
</script>
