@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SWP391.OnlineShop.Common.Constraints
@using SWP391.OnlineShop.Core.Models.Identities
@inject UserManager<User> UserManager;

@{
    var userRole = User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Role)?.Value;

    var userEmail = User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Email)?.Value;
    var user = UserManager.FindByEmailAsync(userEmail).Result;
    var userImage = string.Empty;

    if (user != null)
    {
        userImage = user.Image;
        if (!string.IsNullOrEmpty(userImage) && userImage.Contains('~'))
        {
            userImage = userImage[1..];
        }
    }
    var id = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <form method="post"
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group d-none">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    @*Mobile Navbar*@
    <ul class="navbar-nav ml-auto">

        @*Search Mobile*@
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#searchDropdown" id="searchDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            @*Dropdowns - Search Mobile*@
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group d-none">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        @*User Information*@
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#userDropdown" id="userDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-capitalize mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity?.Name</span>
                @if (!string.IsNullOrEmpty(userImage))
                {
                    <img class="img-profile rounded-circle" src="@userImage" alt="">
                }
                else
                {
                    <img class="img-profile rounded-circle" src="~/template/img/settings/admins/anonymous_user.jpg" alt="">
                }
            </a>
            @*Dropdown - User Information*@
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="">
                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                    Home
                </a>
                <a class="dropdown-item" asp-route-userId="@id" asp-controller="Profile" asp-action="Index" asp-area="">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                @if (!string.IsNullOrEmpty(userRole) && userRole.Contains(RoleConstraints.Admin))
                {
                    <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index" asp-area="Managements">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Management
                    </a>
                }
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>
