/* Home Style */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: brutal;
  src: url(../fonts/BrutalType.ttf);
}

:root {
  --font-brutal: brutal, sans-serif;
  --font-cairo: 'Cairo', sans-serif;
  --main-color: #C0392B;
  --box-bg: #221F1F;
  --font-open: 'Open Sans', sans-serif;
  --border-bg: #474747;
  --detail-bg: #1C1C1C;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Profile */
.profile-container {
  position: relative;
  width: 100%;
  background: #F8F8F8;
  font-family: var(--font-brutal);
  overflow: hidden;
  display: flex;
  padding: 70px 90px;
  color: #999999;
}

.tab-header {
  width: 250px;
}

.tab-content {
  padding: 50px;
  border: 1px solid #EBEBEB;
  background: #fff;
  width: 100%;
  color: #000;
  margin-left: 15px;
}

.tab-header-items {
  position: relative;
  cursor: pointer;
  border: .5px solid #EBEBEB;
  width: 100%;
  height: calc(200px / 4);
  background: #fff;
  text-indent: 20px;
  color: #999999;
  font-size: .8rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  transition: .2s ease-in-out;
}

  .tab-header-items:hover {
    color: #000;
    border-left: 5px solid #0AAFF1;
  }

.tab-header .active {
  border-left: 5px solid #0AAFF1;
}

.nav-link {
  background: #fff;
  border-radius: 0;
}

.tab-title {
  margin-bottom: 50px;
}

  .tab-title span {
    font-size: 1.5rem;
    border-bottom: 1px solid #F2F2F2;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .tab-title div {
    padding-left: 15px;
    color: #99A6C4;
    margin-top: 10px;
  }

.tab-account {
  margin-bottom: 50px;
}

  .tab-account span {
    font-size: 1.5rem;
    border-bottom: 1px solid #F2F2F2;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .tab-account p {
    display: flex;
    margin-top: 10px;
    font-weight: 600;
    align-items: center;
    padding-left: 15px;
  }

    .tab-account p span {
      margin-left: 10px;
      border: 0;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 1px;
    }

.tab-acc-form {
  align-items: center;
  display: flex;
}

.display-name {
  padding: 0;
}

.display-title {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #7C7C7C;
  width: 85%;
  display: flex;
  flex-direction: column;
}

.display-icon {
  cursor: pointer;
  margin-left: 10px;
  padding: 15.5px;
  border: 1px solid #7C7C7C;
  display: flex;
  width: 15%;
  justify-content: center;
  background: #07AFF1;
}

.display-title .title-value {
  border: 0;
  text-indent: 8px;
}

.tab-acc-form span {
  border: 0;
  font-size: .5rem;
  margin-left: 10px;
  color: #9999AF;
}

.tab-acc-form .title-value {
  font-weight: 600;
  text-transform: none;
  font-size: 1rem;
}

.tab-personal {
  margin-bottom: 50px;
}

  .tab-personal span {
    font-size: 1.5rem;
    border-bottom: 1px solid #F2F2F2;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

.display-name {
  margin-bottom: 10px;
}

.tab-personal .person-infor {
  color: #9999AF;
  margin: 10px 0 20px 15px;
}

  .tab-personal .person-infor a {
    text-decoration: none;
  }

.profile-img {
  margin: 50px auto;
  border: 1px solid;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .profile-img img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
  }

.account-info .display-title {
  width: 100%;
}

.account-info .profile-title {
  color: #9999AF;
  border: 0;
  font-size: .5rem;
}

.account-info .choose {
  border: 0;
}

  .account-info .choose .img-choose {
    text-transform: uppercase;
  }

.title-submit input {
  margin: 5px 0;
  font-size: 1rem;
}

.display-lang {
  padding: 10px 15px 5px 15px;
}

.display-title .language-value {
  color: #9999AF;
  font-size: 1rem;
  border: 0;
}

.tab-footer {
  border: 1px solid #EBEBEB;
  padding: 15px;
}

  .tab-footer span {
    font-size: 1.5rem;
    border-bottom: 1px solid #F2F2F2;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

.del-acc {
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
}

  .del-acc p {
    font-weight: 600;
    color: #DC5369;
    width: 75%;
  }

  .del-acc a {
    letter-spacing: .5px;
    font-weight: 600;
    width: 180px;
    display: flex;
    text-transform: uppercase;
    background: #07AFF1;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

.header-item-content {
  display: flex;
  align-items: center;
}

  .header-item-content i {
    width: 20px;
  }

.secu-title span {
  font-size: 1.5rem;
  border-bottom: 1px solid #F2F2F2;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.secu-title p {
  margin: 20px 0 50px 0;
  color: #9999B3;
}

.left-secu-title {
  margin-bottom: 50px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.secu-t1 {
  font-size: 1.1rem;
  font-weight: 600;
}

.secu-t2 {
  color: #9999B3;
  font-size: .75rem;
}

.left-secu-title input[type="password"] {
  margin-top: 20px;
  text-indent: 15px;
  height: 50px;
}

.secu-in:focus {
  border: 1px solid #0078f2;
}

.last-secu-btn {
  color: #fff;
  justify-content: space-between;
  display: flex;
}

.secu-discard {
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  background: #707070;
}

.last-secu-btn input[type="submit"] {
  color: #fff;
  border: 0;
  text-transform: uppercase;
  width: 35%;
  background: #0AAFF1;
}

.secu-right .secu-r-title {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.secu-right .secu-right-title p {
  color: #9999B3;
  margin-top: 35px;
}

.right-secu {
  border-left: 1px solid #EBEBEB;
}

.badges-head {
  font-size: 1.5rem;
  border-bottom: 1px solid #F2F2F2;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.badges-desc {
  color: #9999B3;
  margin: 20px 0 30px 0;
}

.badges-body {
  padding: 10px;
  background: #C0C0C0;
}

.badges-item {
  margin: 20px;
  text-align: center;
  height: 10%;
  display: flex;
  font-size: .85rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #708090;
  border-right: 1px solid #708090;
}

.tab-favor-title {
  font-size: 1.5rem;
  border-bottom: 1px solid #F2F2F2;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.tab-favor-desc {
  color: #C2B2C2;
  margin: 20px 0 40px;
}

  .tab-favor-desc a {
    text-decoration: none;
  }

.tab-farvor-body {
  padding: 30px 0 30px 0;
  background: #C0C0C0;
}

.tab-favor-body-content .favor-item .movie-item img {
  width: 100%;
}

.favor-btn {
  text-align: center;
  align-items: center;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: .75rem;
}

.favor-btn-item {
  text-decoration: none;
  background: #000;
  padding: 5px;
  color: #fff;
}

  .favor-btn-item:hover {
    color: #ffffff;
    background: var(--main-color);
    transform: scale(1.1);
    transition: .3s ease-in-out;
  }

.pagination-container {
  font-family: var(--font-cairo);
  background: #C0C0C0;
  margin-top: 2px;
  padding: 10px;
}

.page-item {
  text-transform: uppercase;
  margin: 2px;
}

.page-link {
  border-radius: 1px;
  color: #fff;
  background: #000;
  /*box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgb(94 104 121 / 29%);*/
  padding: .375rem .95rem;
}

  .page-link:hover {
    color: #ffffff;
    background: var(--main-color)
  }

.page-item:first-child .page-link {
  display: flex;
  align-items: center;
}

.page-item.active .page-link {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: var(--main-color)
}

.wrong-login {
  font-size: .85rem;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

  .wrong-login ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.address-container {
}

.address-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #9999B3;
  padding: 20px;
}

.address-left {
}

.add-l-info .add-l-phone {
  color: #9999B3;
}

.address-right {
  padding-left: 20px;
  border-left: 1px solid #9999B3;
}

  .address-right div {
    margin: 5px;
  }

.add-l-name {
}

.add-l-address {
  max-width: 450px;
  color: #9999B3;
}

@media only screen and (max-width: 1400px) {
  .address-content {
    flex-direction: column;
    align-items: start;
  }

  .address-right {
    border-top: 1px solid #9999B3;
    border-left: 0;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .del-acc {
    display: block;
  }

  .right-secu {
    margin-top: 50px;
    border: 0;
  }

  .del-acc p {
    width: 100%;
  }
}

@media(max-width: 900px) {
  .profile-container {
    padding: 5px;
  }
}

@media(max-width: 758px) {
  .profile-container {
    padding: 0;
  }

  .tab-content {
    margin-left: 0;
  }
}

@media(max-width: 700px) {
  .tab-header {
    width: 75px;
  }

  .header-item-content span {
    display: none;
  }
}

@media(max-width: 516px) {
  .tab-content {
    padding: 20px 10px;
  }
}

@media(max-width: 476px) {
  /*.tab-content-item {
    width: 72%;
  }*/

  .tab-content-secu {
    width: 100%;
  }

  .tab-content-all {
    width: 100%;
  }

  .tab-content-badges .badges-item {
    font-size: .75rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }

  .last-secu-btn {
    flex-direction: column;
    align-items: flex-start;
  }

    .last-secu-btn .secu-in {
      margin-top: 10px;
      font-size: .85rem;
    }

    .last-secu-btn input[type="submit"] {
      width: 150px;
    }

  .tab-footer {
    border: 0;
  }
}

@media(max-width: 400px) {
  .pagination {
    flex-direction: column;
    align-items: stretch;
  }
}

@media(max-width: 360px) {
  .tab-content-item {
    width: 65%;
  }

  .tab-content-secu {
    width: 90%;
  }

  .tab-content-all {
    width: 100%;
  }

  .tab-content-badges .badges-item {
    font-size: .75rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }

  .title-email {
    visibility: hidden;
  }

  .img-choose {
    font-size: .6rem;
  }

  .title-submit input {
    font-size: .6rem;
  }
}

/* movie page */
.films-container {
  width: 90%;
  display: flex;
  background: #1C1C1C;
  margin: 0 auto;
  min-height: 75vh;
}

.films-left {
  padding: 30px;
  width: 75%;
  float: left;
}

.films-right {
  float: right;
}

.movie_last {
  width: 100%;
  margin: 30px auto;
}

.movie-video {
  padding: 20px;
  background: #2A2A2A;
}

.uta-video {
  height: 60vh;
}

.movie-title {
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  font-family: var(--font-open);
}

  .movie-title span {
    position: relative;
    z-index: 1;
    margin-left: 10px;
  }

  .movie-title:before {
    z-index: 0;
    position: absolute;
    content: '';
    background: var(--main-color);
    width: 5px;
    height: 100%;
    transition: .5s ease-in-out;
  }

  .movie-title:hover:before {
    width: 50%;
  }

.movie-episode {
  padding: 10px;
  background: #2A2A2A;
  margin-top: 30px;
}

.episode {
  cursor: pointer;
  text-decoration: none;
  box-shadow: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: .75rem;
  color: #000;
  margin: 5px 10px;
  background: #97A2AE;
  font-family: var(--font-cairo);
  transition: 1s;
}

  .episode:hover {
    box-shadow: 5px 8px var(--main-color);
    cursor: pointer;
    color: var(--main-color);
    transition: 1s;
  }

.movie-facebook-cmt {
  background: #97A2AE;
  padding: 10px;
}

.films-right {
  position: relative;
  display: block;
  background: #2A2A2A;
  width: 22%;
  margin-top: 64px;
  padding: 15px 10px;
}

  .films-right .movie-item img {
    width: 100%;
  }

.films-right-item {
  margin: 10px 10px;
}

.films-right-title:before {
  background: var(--main-color);
  content: '';
  height: 100%;
  position: absolute;
  width: 5px;
}

.films-right-title {
  cursor: pointer;
  margin-left: 10px;
  width: 135px;
  position: relative;
}

  .films-right-title span {
    font-size: .85rem;
    text-transform: uppercase;
    font-family: var(--font-open);
    margin-left: 10px;
    position: relative;
    color: #fff;
  }


  .films-right-title:hover:before {
    transition: .6s ease-in-out;
    width: 100%;
  }

@media(max-width: 850px) {
  .films-container {
    display: block;
  }

  .films-right {
    float: none;
    width: 100%
  }

  .films-left {
    float: none;
    width: 100%
  }
}

@media(max-width: 400px) {
  .pricing-box-header {
    display: block;
    text-align: center;
  }
}

/* slider top random 3*/
.top3_random {
  background: #2A2A2A;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.movie_title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  transition: .3s ease-in;
}

.movie_title:hover:before {
  width: 125px;
  transition: .5s;
  background: linear-gradient( -244deg, #C0392B 60%, rgba(0,0,0,0) 70%)
}

.movie_title {
  width: 270px;
  align-items: center;
  position: relative;
  height: 50px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  display: flex;
  text-transform: uppercase;
  font-family: var(--font-cairo);
}

  .movie_title i {
    margin-left: 10px;
    font-size: 40px;
  }

  .movie_title span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
  }

@media(max-width: 500px) {
  .movie_title span {
    font-size: 1.2rem;
  }
}

.movie-item {
  color: #fff;
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 40%;
  cursor: pointer;
  height: 250px;
}

  .movie-item:hover {
    color: #fff;
  }

  .movie-item img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .3s linear;
  }

  .movie-item:hover img {
    transform: scale(1.2);
  }

.movie-item-content {
  height: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

  .movie-item-content:before {
    content: '';
    left: 0;
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }

.movie-item-title {
  color: #fff;
  font-size: 1rem;
  position: relative;
  font-weight: 700;
  font-family: var(--font-cairo);
}

.movie-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.movie-info {
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: 600;
  font-family: var(--font-cairo);
}

  .movie-info span {
    margin-left: 5px;
  }

  .movie-info i {
    color: var(--main-color);
  }

  .movie-info ~ .movie-info {
    margin-left: 5px;
  }
