@{
}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <partial name="_ValidationScriptsPartial" />
    
    
    <link rel="stylesheet" href="~/lib/download/jqueryui/themes/base/theme.min.css">
    <link rel="stylesheet" href="~/lib/download/jqueryui/themes/base/jquery-ui.min.css">

    <link rel="stylesheet" href="~/lib/download/elfinder/css/elfinder.full.min.css" />
    <link rel="stylesheet" href="~/lib/download/elfinder/css/theme.min.css" />
    
    <script src="~/lib/download/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/download/elfinder/js/elfinder.full.min.js"></script>
</head>
<body class="h-100">
    <div class="main-container pb-3 h-100">
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>